<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Student Analysis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js" integrity="sha256-5oApc/wMda1ntIEK4qoWJ4YItnV4fBHMwywunj8gPqc=" crossorigin="anonymous"></script>
		<script src="../static/assets/js/heatmap.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('index') }}" class="logo">papi</a>
					<nav id="nav">
						<a href="{{ url_for('index') }}">Home</a>
						<a href="{{ url_for('start') }}">Start</a>
						<a href="{{ url_for('upload_file') }}">Student Mode</a>
						<a href="{{ url_for('upload_files') }}">Class Mode</a>
						<a href="{{ url_for('learn_more') }}">Learn More</a>
					</nav>
				</div>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="major special">
						<div class="content" style="text-align: center">
							<h1>Student File Analysis</h1>



						</div>
					</section>
					<section id="two" class="major special">
						<div class="content" style="text-align: center">
                     		<h3>File Data</h3>
							<table>
                                    {% for key, value in file_dat.items() %}
								<tr>
									{% if key != "Large Text Insertion Detection*"%}
									<th> {{ key }}</th>
									<td> {{ value }}</td>
									{% endif %}
									{% if key == "Large Text Insertion Detection*" and value == -1 %}
									<th> Large Text Insertion Detection*</th>
									<td> False</td>
									{% endif %}
								</tr>
								{% endfor %}
							</table>
						</div>
					</section>
					{% if file_dat["Large Text Insertion Detection*"] != -1 %}
					<section id="three" class="major special">
						<div class="content" style="text-align: center">
							<h2>Large Text Insertion(s)</h2>
							<table>
								{% for key, value in file_dat["Large Text Insertion Detection*"].items() %}
								<tr>
									<th> {{ key }}</th>
									<td><p> {{ value }}</p></td>
								<tr>
									{% endfor %}
							</table>
						</div>
					</section>
					{% endif %}


					<script>var t = `{{ deletion_insertion_timeline|safe }}`</script>
					
				
					{% if deletion_insertion_timeline != -1 %}
					<section id="four" class="major speical">
						<h2>Heatmap</h2>
						<div>
							<table id="heatmap">
								<tr>
									<td><b>Date</b></td>
									<td><b>12am - 8am</b></td>
									<td><b>8am - 4pm</b></td>
									<td><b>4pm - 12am</b></td>
								</tr>


							</table>
						</div>
						<script>displayHeatMap([

							...JSON.parse(t)
							
							], '{{ file_dat["Number of Insertion Chunks*"] }}', '{{ file_dat["Number of Deletion Chunks*"] }}')
							;</script>
					</section>
					{% endif %}

					<section id="five" class="major special">
						<div class="content" style="text-align: center">
							<h3>File Trends</h3>
							<canvas id="myLine" width="100%"></canvas>



						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
					</header>

					<div class="copyright">
						PAPI 2020 &copy; Template: TEMPLATED. Images: Unsplash, FREEIMAGES
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/Chart.min.js"></script>
			<script src="../static/assets/js/moment.min.js"></script>

		<script>
			  let ctx = document.getElementById('myLine').getContext('2d');

			  let myLine = new Chart(ctx, {
			  type: 'line',
			  data: {
				labels: [
						{% for item in the_timeline %}
				   			"{{ item }}",
			  			{% endfor %}
				],
				datasets: [
					{
				  label: 'Comments',
				  data: [
				  		{% for item in graphs[0] %}
				   			"{{ item }}",
						{% endfor %}
				  ],
				  backgroundColor: "rgba(153,255,51,0.4)"
				},
			  	{
				  label: 'Logic',
				  data: [
				  		{% for item in graphs[1] %}
				   			"{{ item }}",
						{% endfor %}
				  ],
				  backgroundColor: "rgba(51,214,255,0.4)"
				},
			  	{
				  label: 'Operation',
				  data: [
				  		{% for item in graphs[2] %}
				   			"{{ item }}",
						{% endfor %}
				  ],
				  backgroundColor: "rgba(71,51,255,0.4)"
				},
			  	{
				  label: 'Output',
				  data: [
				  		{% for item in graphs[3] %}
				   			"{{ item }}",
						{% endfor %}
				  ],
				  backgroundColor: "rgba(255,75,51,0.4)"
				}
				]
			  },
			  options: {
				scales: {
					yAxes: [{
						stacked: true
					}]
				}
			}

			});

		</script>

	</body>
</html>
