<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Introspect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js" integrity="sha256-5oApc/wMda1ntIEK4qoWJ4YItnV4fBHMwywunj8gPqc=" crossorigin="anonymous"></script>
		<script src="../static/assets/js/heatmap.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{ url_for('index') }}" class="logo">introspect</a>
					<nav id="nav">
						<a href="{{ url_for('index') }}">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
				</div>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
<!-- Main -->
			<section id="main">
				<div class="inner">

				<!-- One -->
					<section id="one" class="major special">
						<div class="content" style="text-align: center">
							<h1>Student File Analysis</h1>



						</div>
					</section>
					<section id="two" class="major special">
						<div class="content" style="text-align: center">
                     		<h3>File Data</h3>
							<table>
                                    {% for key, value in file_dat.items() %}
								<tr>
									{% if key != "Large Text Insertion Detection*"%}
									<th> {{ key }}</th>
									<td> {{ value }}</td>
									{% endif %}
									{% if key == "Large Text Insertion Detection*" and value == -1 %}
									<th> Large Text Insertion Detection*</th>
									<td> False</td>
									{% endif %}
								</tr>
								{% endfor %}
							</table>
						</div>
					</section>
					{% if file_dat["Large Text Insertion Detection*"] != -1 %}
					<section id="three" class="major special">
						<div class="content" style="text-align: center">
							<h2>Large Text Insertion(s)</h2>
							<table>
								{% for key, value in file_dat["Large Text Insertion Detection*"].items() %}
								<tr>
									<th> {{ key }}</th>
									<td><p> {{ value }}</p></td>
								<tr>
									{% endfor %}
							</table>
						</div>
					</section>
					{% endif %}


					{% if deletion_insertion_timeline != -1 %}
					<section id="four" class="major speical">
						<h2>Heatmap</h2>
						<div>
							<table id="heatmap">
								<tr>
									<td><b>Date</b></td>
									<td><b>12am - 8am</b></td>
									<td><b>8am - 4pm</b></td>
									<td><b>4pm - 12am</b></td>
								</tr>


							</table>
						</div>
						<script>displayHeatMap([

							...JSON.parse(t)
							
							], '{{ file_dat["Number of Insertion Chunks*"] }}', '{{ file_dat["Number of Deletion Chunks*"] }}')
							;</script>
					</section>
					{% endif %}

					<section id="five" class="major special">
						<div class="content" style="text-align: center">
<!--							<h3>File Trends</h3>-->


						</div>
					</section>

				</div>
			</section>

		<!-- Footer -->
			<section id="footer">
				<div class="inner">
					<header>
					</header>

					<div class="copyright">
						&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images <a href="https://unsplash.com/">Unsplash</a>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
